*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}



#header{
  text-align: center;
  width: 100%;
  height: 100vh;
  padding: 0 1%;
  background: #FFFFFF;
  margin: auto;
  display: flex;
  align-items: center;
}
.header img {
  display: block;
  margin: flex;
}
nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}
nav ul li a{
  text-decoration: none;
  color: #;

}
summary::marker {
  content: "";
}
details > p {
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  font-size: 24px
  margin: 70px
  width: 290px;
  display: inline-block;
  text-align: center;
}
