*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  }
  

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    object-fit: cover;
  }
.mid-section{
  display: flex;
  flex-direction: row;
}
  summary::marker {
    content: "";
  }
  details > p {
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 24px;
    margin: 10px;
    width: 290px;
    display: inline-block;
    text-align: center;
  }
  .beats{
    display: flex;
    align-items: center;
    justify-content: center;
  }

 
